extends ./layouts/index

block content
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        h2.text-center Comparte tu experiencia
            include ./layouts/bloque_testimoniales
        .row.justify-content-center 
            .col-md-8 
                if(errores)
                    .errores.alert-danger.text-center
                        each error in errores
                            p= error.mensaje
                form(action="/testimoniales/", method="post")
                    .form-group 
                        label(for="nombre") Nombre 
                        input#nombre(type="text", name="nombre", value=nombre, placeholder="Dejanos tu nombre", class="form-control")
                    .form-group 
                        label(for="email") Email 
                        input#nombre(type="email", name="email", value=email, placeholder="Dejanos tu email", class="form-control")
                    .form-group 
                        label(for="comentario") Comentario 
                        textarea#comentario(name="comentario", rows= 3, class="form-control")= comentario
                    input.btn.btn-success.btn-block(type="submit")

